*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
    align-items: center;
}
.navbar{
  background-color: #F6A623;
  margin: 0;
}
div#map{
  height: 90vh;
  width: 100%;
}

.form-inline .form-control{
  background-color: #F6A623;
      color: #ffffff;
      width: 35rem;
      border-color: #ffffff;
}

.btn{
  width: 18rem;
      background-color: #ffffff;
      font-weight: bold;
}

.linea{
  border-left: 2px solid #ffffff;
}

i{
  color: #ffffff;
  padding: 0.6rem;
  font-size: 2rem;
}

#tarifa{
  background-color: black;
  width: 200px;
  height: 200px;
  font-size: 5rem;
  color: #F6A623;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 6rem;
}
/*
.buscar{
  background-color: #F6A623;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  height: 4rem;
}*/
